<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재가입 페이지</title>
</head>
<body>
    <h1>예기치 않은 오류가 발생했습니다. 다시 가입해 주세요.</h1>
    <form action="join_process" method="post">
        아이디 입력 <input type="text" name="user_id" placeholder="사용할 아이디를 입력해 주세요">
        비밀번호 입력 <input type="text" name="user_pw" placeholder="사용할 비밀번호를 입력해 주세요">
        닉네임 입력 <input type="text" name="name" placeholder="사용할 닉네임을 입력해 주세요">
        <button>회원가입</button>
    </form>
</body>
</html>